#site-content * {
    min-height: 0px;
    border: 1pxdashed transparent !important;
}

#site-content {
    max-width: 1280px;
    margin: 0 auto;
}

#site-content h1 {
    font-size: 2.5em;
    color: #333333;
}
#site-content h2 {
    font-size: 2em;
    color: #444444;
}
#site-content h3 {
    font-size: 1.75em;
    color: #555555;
}   
#site-content h4 {
    font-size: 1.5em;
    color: #666666;
}
#site-content h5 {
    font-size: 1.25em;
    color: #777777;
}
#site-content h6 {
    font-size: 1em;
    color: #888888;
}
#site-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #000000;
}

#site-content a {
    color: #1a73e8;
    text-decoration: none;
}
#site-content a:hover {
    text-decoration: underline;
}
#site-content button, #site-content input, #site-content select, #site-content textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
#site-content img {
    max-width: 100%;
    height: auto;
    display: block;
}
#site-content .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header, .footer {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}
.navbar {
    background-color: #333333;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.main-content {
    padding: 20px;
    background-color: #ffffff;
}
.sidebar {
    padding: 20px;
    background-color: #f4f4f4;
}
.footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    .navbar a {
        float: none;
        width: 100%;
        text-align: left;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.5em;
    }
}
@media (max-width: 320px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1em;
    }
}

