/* ==============================
    About Us 1
=================================*/

.about-us-1 .common-list-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .about-us-1 .common-list-ul li {
    width: calc(50% - 5px);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    background: #eff0ef;
    border-radius: 5px;
    position: relative;
    z-index: 1;
  }
  
  .about-us-1 .common-list-ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-primary);
    overflow: hidden;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
    z-index: -1;
  }
  
  .about-us-1 .common-list-ul li:hover:before {
    width: 100%;
  }
  
  .about-us-1 .common-list-ul li:hover {
    color: var(--color-white);
  }
  
  /* ==============================
      About Us 1 End
  =================================*/