@keyframes rubberBand {
  0% {
    transform: scaleX(1);
    opacity: 0;
  }
  30% {
    transform: scaleX(1.05);
    opacity: 1;
  }
  40% {
    transform: scaleX(0.75);
    opacity: 1;
  }
  50% {
    transform: scaleX(1.05);
    opacity: 1;
  }
  65% {
    transform: scaleX(0.95);
    opacity: 1;
  }
  75% {
    transform: scaleX(1.05);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes swirlIn {
  0% {
    transform: scale(0) rotate(720deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}