/* ==============================
    Contact 1
=================================*/

.contact-1 .contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .contact-1 .contact-info-single {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  
  .contact-1 .contact-info-single .icon {
    width: 40px;
    height: 40px;
    background: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .contact-1 .contact-text {
    width: calc(100% - 50px);
  }
  
  .contact-1 .contact-heading {
    color: var(--color-black);
    font-weight: 600;
    font-size: 20px;
  }
  
  @media (max-width: 575px) {
    .contact-1 .contact-info-single {
      justify-content: center;
      text-align: center;
    }
  
    .contact-1 .contact-text {
      width: 100%;
    }
  }
  