/* ==============================
    Gallery 1
=================================*/

.gallery-1 .gallery .gallery_single {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .gallery-1 .gallery .gallery_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .gallery-1 .gallery .gallery_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  
  .gallery-1 .gallery .gallery_single:hover .gallery_overlay {
    opacity: 1;
    visibility: visible;
  }
  
  .gallery-1 .gallery .gallery_overlay h3 a {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }
  
  .gallery-1 .gallery .gallery_overlay .gal-cat {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 500;
    font-family: "Source Sans Pro";
    margin-bottom: 10px;
  }
  
  .gallery-1 .gallery .btn_gallery {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin-top: 5px;
  }
  /* ==============================
      Gallery 1 End
  =================================*/