/* ==============================
    Pricing Table 1
=================================*/

.price_table_section {
  padding: 5rem 0;
}

.price-table-1 .price_table .pricing-box {
  background-color: #fafafa;
  padding: 32px 50px 58px 50px;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.price-table-1 .price_table .bg-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -5;
}

.price-table-1 .price_table .pricing-title h3 {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.price-table-1 .price_table .pricing-box.active .pricing-title h3 {
  color: var(--color-primary);
}

.price-table-1 .price_table .pricing-title h3:after {
  content: "";
  height: 4px;
  width: 34px;
  background-color: #fa360a;
  position: absolute;
  bottom: 0;
  left: 20px;
  border-radius: 10px;
  border: none;
}

.price-table-1 .price_table .pricing-title h3::before {
  content: "";
  height: 4px;
  width: 15px;
  background-color: #ffa996;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  border: none;
}

.price-table-1 .price_table p {
  margin-bottom: 15px;
}

.price-table-1 .price_table .price_and_currency {
  text-align: center;
}

.price-table-1 .price_table .price_and_currency .price-details {
  color: var(--color-black);
  font-size: 72px;
  font-weight: 700;
  display: inline-block;
  line-height: 1.2;
}

.price-table-1
  .price_table
  .pricing-box.active
  .price_and_currency
  .price-details {
  color: var(--color-primary);
}

.price-table-1 .price_table .price_and_currency .price-details .price {
  padding: 0 20px;
  position: relative;
}

.price-table-1 .price_table .price_and_currency .price-details .currency {
  color: #8e8d8d;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: 15px;
  left: -5px;
}

.price-table-1 .price_table .price_and_currency .price-details .unit {
  color: #8e8d8d;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: 16px;
}

.price-table-1 .price_table .price_and_currency .price-details .duration {
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 400;
}

.price-table-1 .price_table .pricing-features {
  padding: 0;
  list-style: none;
  margin: 20px 0 30px 0;
}

.price-table-1 .price_table .pricing-features li:not(:last-child) {
  margin-bottom: 10px;
}

.price-table-1 .price_table .pricing-features li .pricing-features-text {
  display: inline-block;
  position: relative;
  padding-left: 20px;
}

.price-table-1 .price_table .pricing-features li .pricing-features-text i {
  font-size: 8px;
  margin-right: 10px;
  color: #646464;
  position: absolute;
  top: 9px;
  left: 0;
}

@media (max-width: 991px) {
  .price-table-1 .price_table .pricing-box {
    margin-bottom: 30px;
  }
}

/* ==============================
      Pricing Table 1 End
  =================================*/
