/* Shop */

.product-shop {
    padding: 80px 0;
  
    .shop-toolbox {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      flex-wrap: wrap;
      gap: 20px;
    }
  
    .sorting {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  
    .sorting-label {
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }
  
    .shop-toolbox select {
      position: relative;
      max-width: 14rem;
      min-height: auto;
      width: auto;
      height: 100%;
      padding: 8.5px 27px 8.5px 9px;
      border: 1px solid #d7d7d7;
      border-radius: 2px;
      color: inherit;
      background-color: transparent;
      font-size: 12px;
      z-index: 1;
      outline: none;
    }
  
    .product-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }
  
    .product-card {
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;
      padding-bottom: 30px;
    }
  
    .product-image {
      position: relative;
      height: 270px;
    }
  
    .product-image img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      height: 100%;
    }
  
    .product-image img:last-of-type {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }
  
    .product-label {
      position: absolute;
      top: 15px;
      left: 15px;
      padding: 5px 10px;
      background-color: #da5555;
      font-size: 12px;
      color: #fff;
      border-radius: 5px;
    }
  
    .product-action {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;
      background-color: var(--color-white);
      padding: 20px 10px;
      visibility: hidden;
      opacity: 0;
      transform: scaleX(0);
      transition: all 0.3s ease;
    }
  
    .btn-icon {
      padding: 13px;
      background: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #6f6e6b;
    }
  
    .btn-icon svg {
      width: 20px;
      height: 20px;
    }
  
    .product-info {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 15px;
    }
  
    .product-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 13px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0;
    }
  
    .product-title a {
      color: #333;
      transition: all 0.3s ease;
    }
  
    .product-title a:hover {
      color: var(--primary-color);
    }
  
    .price {
      color: #000;
      font-size: 16px;
      font-weight: 600;
    }
  
    .price del {
      color: #666;
      font-weight: 400;
    }
  
    .add-to-cart {
      background-color: #fff;
      text-align: center;
      width: 100%;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .btn-add-to-cart {
      padding: 10px 15px;
      background-color: var(--color-secondary);
      color: var(--color-white);
      font-size: 13px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  
    .product-card:hover {
      box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.08);
      transition: box-shadow 0.3s ease;
    }
  
    .product-card:hover .product-action {
      visibility: visible;
      opacity: 1;
      transform: scaleX(1);
    }
  
    .product-card:hover .product-image img:last-of-type {
      opacity: 1;
    }
  
    .product-card:hover .add-to-cart {
      visibility: visible;
      opacity: 1;
      bottom: 0;
    }
  }
  
  @media (max-width: 1199px) {
    .product-shop {
      .product-grid {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  
  @media (max-width: 991px) {
    .product-shop {
      .product-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  
  @media (max-width: 575px) {
    .product-shop {
      .product-grid {
        grid-template-columns: repeat(2, 1fr);
      }
  
      .sorting-label {
        display: none;
      }
    }
  }
  
  @media (max-width: 450px) {
    .product-shop {
      .product-grid {
        grid-template-columns: 1fr;
      }
    }
  }