/* ==============================
    Recent Work 1
=================================*/

.recent-work-1 .work-box {
  background: #f8fafc;
  padding: 60px 40px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.recent-work-1 .row {
  margin: 0;
}

.recent-work-1 [class^="col"] {
  padding: 0;
}

.recent-work-1 .work-img img {
  width: 100%;
  height: 400px;
  border-radius: 10px 0px 0px 10px;
}

/* .recent-work-1 [class^="col-lg-12"] {
    margin-bottom: 30px;
  } */

.recent-work-1 [class^="col-lg-12"]:nth-child(2) .work-img img {
  margin-left: 0;
  border-radius: 0px 10px 10px 0px;
}

.recent-work-1 .btn-browse {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-out 0s;
}

.recent-work-1 .btn-browse::before {
  position: absolute;
  content: "";
  background: var(--color-primary);
  width: 100%;
  height: 2px;
  bottom: -8px;
}

.recent-work-1 .btn-browse:hover {
  letter-spacing: 1px;
  transition: all 0.3s ease-out 0s;
}

@media (max-width: 991px) {
  .recent-work-1 .work-box {
    height: auto;
    padding: 30px 20px;
  }

  .recent-work-1 .work-img img {
    height: auto;
    border-radius: 0;
  }
}
/* ==============================
      Recent Work 1 End
  =================================*/
