.subtitle h4 {
    font-family: var(--subtitle-font-family);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-primary);
    color: #fff;
    position: relative;
    padding: 8px 14px 8px 12px;
    line-height: 1.1;
    display: inline-flex;
    border-radius: 100px;
    text-transform: uppercase;
  }
  
  .subtitle h4 span svg {
    width: 100%;
    height: 100%;
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
  }