/* ==============================
    Timeline 1 
=================================*/
.timeline-1 .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline-1 .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--color-gray);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-1 .timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-1 .timeline-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid var(--color-primary);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-1 .timeline .left {
  left: 0;
}

.timeline-1 .timeline .right {
  left: 50%;
}

.timeline-1 .timeline .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--color-white);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color-white);
}

.timeline-1 .timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--color-white) transparent transparent;
}

.timeline-1 .timeline .right::after {
  left: -12px;
}

.timeline-1 .timeline .content {
  padding: 20px 30px;
  background-color: var(--color-white);
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 22px 60px 0px rgba(47, 43, 140, 0.12);
}

.timeline-1 .timeline-container .content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 767px) {
  .timeline-1 .timeline::after {
    left: 15px;
  }

  .timeline-1 .timeline .timeline-container {
    width: 100%;
    padding-left: 50px;
    padding-right: 25px;
  }

  .timeline-1 .timeline .timeline-container::before {
    left: 40px;
    border: medium solid var(--color-white);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--color-white) transparent transparent;
  }

  .timeline-1 .timeline .left::after,
  .timeline-1 .timeline .right::after {
    left: 3px;
  }

  .timeline-1 .timeline .right {
    left: 0%;
  }
}

/* ==============================
      Timeline 1 End
  =================================*/
